<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>MentalHealth Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
</head>
<body>
    <div class="container">

        <header class="chat-header">
            <div class="bot-info">
                <img src="{{ url_for('static', filename='icon.png') }}" alt="HPA ChatBot Logo" class="bot-header-logo">
                <h3>HPA ChatBot</h3>
            </div>
        </header>

        <div id="chatbox" class="chatbox">
        </div>

        <div class="input-area">
            <button id="btnRecord">
                <i class="fa fa-microphone"></i>
            </button>
            <input id="inputMessage" type="text" placeholder="Tôi ở đây để giúp bạn..." autocomplete="off" />
            <button id="sendBtn">
                <i class="fa-solid fa-paper-plane"></i>
            </button>
        </div>
        
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>